<!-- =============================================== -->
<!-- index.html                                      -->
<!-- Author: Justice Chukwuma                        -->
<!-- =============================================== -->
<!DOCTYPE html>
  <html>
    {% include 'header.html'%}
    <body>
    <h2>Class Search</h2>
    <hr />
    <!-- told to use <table> for formatting -->
    <form action="/" method="get">
      <table>
        <tr>
          <td style="text-align: right"><label for="dept">Dept: </label></td>
          <td ><input type="text" name="dept" value={{dept}}></td>
        </tr>
        <tr>
          <td style="text-align: right"><label for="num">Number: </label></td>
          <td><input type="text" name="num" value={{num}}></td>
        </tr>
        <tr>
          <td style="text-align: right"><label for="area">Area: </label></td>
          <td><input type="text" name="area" value={{area}}></td>
        </tr>
        <tr>
          <td style="text-align: right"><label for="title">Title: </label></td>
          <td><input type="text" name="title" value={{unquote_plus(title)}}></td>
        </tr>
        <tr>
          <td/>
          <td><button type="submit" name="button">Submit</button></td>
        </tr>
      </table>
    </form>
    <hr />

    <table>
      <tr>
        <td><strong>ClassId</strong></td>
        <td><strong>Dept</strong></td>
        <td><strong>Num</strong></td>
        <td><strong>Area</strong></td>
        <td><strong>Title</strong></td>

      </tr>
      {% for res in results: %}
          <tr>
            <td>
              <a href=regdetails?classid={{res[0]}}>{{res[0]}}</a>
            </td>
            <td>{{res[1]}}</td>
            <td>{{res[2]}}</td>
            <td>{{res[3]}}</td>
            <td>{{res[4]}}</td>
          </tr>
        {%endfor%}
    </table>
      {% include 'footer.html' %}
    </body>
    </html>
